.error{
    padding: 5rem 3rem;
    color: var(--text-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    h1{
        font-size: 3.5rem; 
    }
    h2{
        font-size: 1.6rem;
    }
    p{
        font-size: 1.2rem;
        color: var(--secondary-color);
    }
}